<a href="https://colab.research.google.com/github/diogodsa/Stock-Investing-Using-Machine-Learning/blob/master/Stock_Investing_Portfolio_Using_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##A primeira etapa é importar todas as bibliotecas necessárias.

In [3]:
pip install yahoo_fin

Collecting yahoo_fin
  Downloading https://files.pythonhosted.org/packages/b4/e8/b42de33475fb22ea051753a64c1b101ee901df88013801f722001998b36d/yahoo_fin-0.8.5-py3-none-any.whl
Installing collected packages: yahoo-fin
Successfully installed yahoo-fin-0.8.5

In [87]:
import requests
import pandas as pd 
from yahoo_fin import stock_info as si 
from pandas_datareader import DataReader
import numpy as np

from urllib.request import urlopen, Request
from bs4 import BeautifulSoup
import os
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from nltk.sentiment.vader import SentimentIntensityAnalyzer

import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [ ]:
tickers = si.tickers_sp500()
recommendations = []

for ticker in tickers:
    lhs_url = 'https://query2.finance.yahoo.com/v10/finance/quoteSummary/'
    rhs_url = '?formatted=true&crumb=swg7qs5y9UP&lang=en-US&region=US&' \
              'modules=upgradeDowngradeHistory,recommendationTrend,' \
              'financialData,earningsHistory,earningsTrend,industryTrend&' \
              'corsDomain=finance.yahoo.com'
              
    url =  lhs_url + ticker + rhs_url
    r = requests.get(url)
    if not r.ok:
        recommendation = 6
    try:
        result = r.json()['quoteSummary']['result'][0]
        recommendation =result['financialData']['recommendationMean']['fmt']
    except:
        recommendation = 6
    
    recommendations.append(recommendation)
    print(ticker)

In [62]:
df = pd.DataFrame(list(zip(tickers, recommendations)), 
               columns =['Company', 'Recommendations']) 
df

    Company Recommendations
0         A            2.20
1       AAL            3.30
2       AAP            2.30
3      AAPL            2.00
4      ABBV            2.00
..      ...             ...
500     YUM            2.60
501     ZBH            1.90
502    ZBRA            2.30
503    ZION            2.70
504     ZTS            2.00

[505 rows x 2 columns]

In [ ]:
arrRecommendations = np.array(df.Recommendations, dtype=float)

hold_df = df[arrRecommendations == 3]
buy_df = df[arrRecommendations <= 1.5]
sell_df = df[arrRecommendations >= 4.5]

df_list = [hold_df, buy_df, sell_df]
new_df = pd.concat(df_list)
new_df.reset_index(level=0, inplace=True)

new_df

In [ ]:
tickers =[] 
  
for index, rows in new_df.iterrows(): 
    tickers.append(rows.Company) 

tickers

In [88]:
finwiz_url = 'https://finviz.com/quote.ashx?t='

news_tables = {}

for ticker in tickers:
    url = finwiz_url + ticker
    req = Request(url=url,headers={'user-agent': 'my-app/0.0.1'}) 

    try:
        response = urlopen(req)  
    except Exception:
        pass

    html = BeautifulSoup(response)
    news_table = html.find(id='news-table')
    news_tables[ticker] = news_table
    print(url)
    
parsed_news = []

for file_name, news_table in news_tables.items():
    try:
        for x in news_table.findAll('tr'):
    
          text = x.a.get_text() 
          date_scrape = x.td.text.split()

          if len(date_scrape) == 1:
              time = date_scrape[0]
              
          else:
              date = date_scrape[0]
              time = date_scrape[1]
          ticker = file_name.split('_')[0]
          
          parsed_news.append([ticker, date, time, text])
    except Exception:
        pass

    
        
vader = SentimentIntensityAnalyzer()

columns = ['ticker', 'date', 'time', 'headline']

parsed_and_scored_news = pd.DataFrame(parsed_news, columns=columns)

parsed_and_scored_news['date'] = pd.to_datetime(parsed_and_scored_news.date).dt.date

parsed_and_scored_news.head()

https://finviz.com/quote.ashx?t=CINF
https://finviz.com/quote.ashx?t=CLX
https://finviz.com/quote.ashx?t=CMA
https://finviz.com/quote.ashx?t=COTY
https://finviz.com/quote.ashx?t=CTSH
https://finviz.com/quote.ashx?t=DISCK
https://finviz.com/quote.ashx?t=ITW
https://finviz.com/quote.ashx?t=JKHY
https://finviz.com/quote.ashx?t=KIM
https://finviz.com/quote.ashx?t=KSS
https://finviz.com/quote.ashx?t=L
https://finviz.com/quote.ashx?t=NTAP
https://finviz.com/quote.ashx?t=RHI
https://finviz.com/quote.ashx?t=UA
https://finviz.com/quote.ashx?t=UAA
https://finviz.com/quote.ashx?t=VTR
https://finviz.com/quote.ashx?t=WRB
https://finviz.com/quote.ashx?t=BF.B
https://finviz.com/quote.ashx?t=BRK.B
https://finviz.com/quote.ashx?t=FOX
https://finviz.com/quote.ashx?t=NWS

  ticker  ...                                           headline
0   CINF  ...  Cincinnati Financial (CINF) Plunges 39.2% YTD:...
1   CINF  ...                            3 Low Price-Book Stocks
2   CINF  ...  Here are the 10 most under and overbought S&P ...
3   CINF  ...  Hedge Funds Are Done Buying Cincinnati Financi...
4   CINF  ...  Pandemic, Protests, and Hurricanes: Can It Get...

[5 rows x 4 columns]

In [89]:
parsed_and_scored_news = parsed_and_scored_news.groupby(['ticker'], as_index = False).agg({'headline': ''.join}, Inplace=True)

## Performing Sentiment Analysis

In [91]:
vader = SentimentIntensityAnalyzer()


scores = parsed_and_scored_news['headline'].apply(vader.polarity_scores).tolist()

scores_df = pd.DataFrame(scores)

parsed_and_scored_news = parsed_and_scored_news.join(scores_df, rsuffix='_right')

parsed_and_scored_news

   ticker  ... compound_right
0    CINF  ...         0.9938
1     CLX  ...         0.9968
2     CMA  ...         0.9966
3    COTY  ...         0.9901
4    CTSH  ...         0.9940
5   DISCK  ...         0.9898
6     FOX  ...         0.9961
7     ITW  ...         0.9985
8    JKHY  ...         0.9984
9     KIM  ...         0.9984
10    KSS  ...        -0.5274
11      L  ...         0.9830
12   NTAP  ...         0.9539
13    NWS  ...         0.9659
14    RHI  ...         0.9981
15     UA  ...        -0.9591
16    UAA  ...        -0.9302
17    VTR  ...         0.9988
18    WRB  ...         0.9978

[19 rows x 10 columns]